.node_modules
.vscode
./Lab1/node_modules
./Lab2/node_modules

Lab2/node_modules/.package-lock.json
Lab2/node_modules/.bin/tsc
Lab2/node_modules/.bin/tsc.cmd
Lab2/node_modules/.bin/tsc.ps1
Lab2/node_modules/.bin/tsserver
Lab2/node_modules/.bin/tsserver.cmd
Lab2/node_modules/.bin/tsserver.ps1
Lab2/node_modules/typescript/LICENSE.txt
Lab2/node_modules/typescript/package.json
Lab2/node_modules/typescript/README.md
Lab2/node_modules/typescript/SECURITY.md
Lab2/node_modules/typescript/ThirdPartyNoticeText.txt
Lab2/node_modules/typescript/bin/tsc
Lab2/node_modules/typescript/bin/tsserver
Lab2/node_modules/typescript/lib/cancellationToken.js
Lab2/node_modules/typescript/lib/lib.d.ts
Lab2/node_modules/typescript/lib/lib.decorators.d.ts
Lab2/node_modules/typescript/lib/lib.decorators.legacy.d.ts
Lab2/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
Lab2/node_modules/typescript/lib/lib.dom.d.ts
Lab2/node_modules/typescript/lib/lib.dom.iterable.d.ts
Lab2/node_modules/typescript/lib/lib.es5.d.ts
Lab2/node_modules/typescript/lib/lib.es6.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.collection.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.core.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.generator.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.iterable.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.promise.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.proxy.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.reflect.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.symbol.d.ts
Lab2/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
Lab2/node_modules/typescript/lib/lib.es2016.array.include.d.ts
Lab2/node_modules/typescript/lib/lib.es2016.d.ts
Lab2/node_modules/typescript/lib/lib.es2016.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2016.intl.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.date.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.intl.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.object.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.string.d.ts
Lab2/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
Lab2/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
Lab2/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
Lab2/node_modules/typescript/lib/lib.es2018.d.ts
Lab2/node_modules/typescript/lib/lib.es2018.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2018.intl.d.ts
Lab2/node_modules/typescript/lib/lib.es2018.promise.d.ts
Lab2/node_modules/typescript/lib/lib.es2018.regexp.d.ts
Lab2/node_modules/typescript/lib/lib.es2019.array.d.ts
Lab2/node_modules/typescript/lib/lib.es2019.d.ts
Lab2/node_modules/typescript/lib/lib.es2019.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2019.intl.d.ts
Lab2/node_modules/typescript/lib/lib.es2019.object.d.ts
Lab2/node_modules/typescript/lib/lib.es2019.string.d.ts
Lab2/node_modules/typescript/lib/lib.es2019.symbol.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.bigint.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.date.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.intl.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.number.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.promise.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.string.d.ts
Lab2/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
Lab2/node_modules/typescript/lib/lib.es2021.d.ts
Lab2/node_modules/typescript/lib/lib.es2021.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2021.intl.d.ts
Lab2/node_modules/typescript/lib/lib.es2021.promise.d.ts
Lab2/node_modules/typescript/lib/lib.es2021.string.d.ts
Lab2/node_modules/typescript/lib/lib.es2021.weakref.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.array.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.error.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.intl.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.object.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.regexp.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.sharedmemory.d.ts
Lab2/node_modules/typescript/lib/lib.es2022.string.d.ts
Lab2/node_modules/typescript/lib/lib.es2023.array.d.ts
Lab2/node_modules/typescript/lib/lib.es2023.collection.d.ts
Lab2/node_modules/typescript/lib/lib.es2023.d.ts
Lab2/node_modules/typescript/lib/lib.es2023.full.d.ts
Lab2/node_modules/typescript/lib/lib.es2023.intl.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.array.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.collection.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.decorators.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.disposable.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.full.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.intl.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.object.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.promise.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.regexp.d.ts
Lab2/node_modules/typescript/lib/lib.esnext.string.d.ts
Lab2/node_modules/typescript/lib/lib.scripthost.d.ts
Lab2/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
Lab2/node_modules/typescript/lib/lib.webworker.d.ts
Lab2/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
Lab2/node_modules/typescript/lib/lib.webworker.iterable.d.ts
Lab2/node_modules/typescript/lib/tsc.js
Lab2/node_modules/typescript/lib/tsserver.js
Lab2/node_modules/typescript/lib/tsserverlibrary.d.ts
Lab2/node_modules/typescript/lib/tsserverlibrary.js
Lab2/node_modules/typescript/lib/typescript.d.ts
Lab2/node_modules/typescript/lib/typescript.js
Lab2/node_modules/typescript/lib/typesMap.json
Lab2/node_modules/typescript/lib/typingsInstaller.js
Lab2/node_modules/typescript/lib/watchGuard.js
Lab2/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/de/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/es/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/it/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
Lab2/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
